* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Sen", sans-serif;
  color: #b37b32;
}
:root {
  --font-heading: "Playwrite DK Loopet", cursive;
  --primary-color: #b37b32;
}
/* ==============common============= */
a {
  text-decoration: none;
}
.main-content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.title {
  font-family: var(--font-heading);
  color: #b37b32;
  font-weight: 600;
  font-size: 4rem;
}
.desc {
  font-size: 2rem;
  line-height: 1.5;
  margin-top: 20px;
}
.action {
  margin-top: 50px;
}
.action .btn {
  padding: 10px 35px;
  border: 2px solid #b37b32;
  color: currentColor;
  border-radius: 5px;
}
.action .btn:hover {
  background-color: #b37b32;
  color: #ffffcc;
}
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 3);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp.line-2 {
  --line-clamp: 2;
}

.break-all {
  word-break: break-all;
}
/* ==============header============= */
.header {
  display: flex;
  justify-content: space-between;
  background-color: #000044;

  align-items: center;
}
.logo {
  width: 120px;
  margin-top: -15px;
  margin-left: 50px;
  filter: brightness(150);
}
ul {
  display: flex;
  margin-right: 15px;
}
.nav a {
  color: #ffffcc;
  font-family: var(--font-heading);
  padding: 10px 15px;
}
.nav a:hover {
  background-color: #ffcc99;
}
/* ==============hero============= */
.hero {
  margin-top: 35px;
  width: 1170px;
}
.hero-list {
  display: flex;
  overflow: hidden;
}
.hero-list img {
  object-fit: cover;
  border-radius: 10px;
}
.hero button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #555;
  position: relative;
}
.hero #prev {
  position: absolute;
  top: 500px;
}
.hero #next {
  position: absolute;
  right: 65px;
  top: 500px;
}
.hero button:hover {
  background-color: #ffffcc;
}
/* ==============about us============= */
.about-us .body {
  gap: 50px;
}
.about-us .body {
  margin-top: 45px;
  display: flex;
  padding: 15px 0;
}
.about-us .desc {
  margin-top: 45px;
}
.about-us .about {
  border-radius: 10px;
  width: 500px;
  height: 500px;
  object-fit: cover;
}
/* ==============products============= */
.products .body {
  margin-top: 45px;
  display: flex;
  gap: 20px;
}
.products .mh2 {
  width: 370px;
  height: 450px;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 30px;
}
.products .title2 {
  font-size: 3.5rem;
  font-family: var(--font-heading);
}
.products .item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* ==============shops============= */
.shops .body {
  display: flex;
  gap: 50px;
  margin-top: 60px;
}
.shops .mh3 {
  width: 700px;
  height: 600px;
  object-fit: cover;
  border-radius: 10px;
}
/* ==============feedback============= */
.title.title3 {
  display: flex;
  margin-top: 60px;
  justify-content: center;
}
.feedback {
  background-color: #000044;
}
.feedback-list {
  margin-top: 30px;
  background-color: #000044;
  padding: 30px 0 15px;
  display: flex;
  overflow: hidden;
}
.feedback-item {
  display: flex;
}
.feedback-item .info img {
  width: 200px;
  border-radius: 50%;
}
.info .name {
  font-size: 30px;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  font-family: var(--font-heading);
}
.dots {
  gap: 6px;
  display: flex;
  justify-content: center;
}

.dot {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

.dot.active {
  background: #ce7b28;
  cursor: default;
}

.content {
  width: 60%;
  margin-left: auto;
}
.feedback .body {
  width: 100%;
  flex-shrink: 0;
}
