* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Sen", sans-serif;
  color: #b37b32;
}
:root {
  --fon-body: "Sen", sans-serif;
  --font-heading: "Playwrite DK Loopet", cursive;
  --primary-color: #b37b32;
}
/* ==============common============= */
a {
  text-decoration: none;
}
.main-content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.title {
  font-family: var(--font-heading);
  color: #b37b32;
  font-weight: 600;
  font-size: 4rem;
}
.desc {
  font-size: 2rem;
  line-height: 1.5;
  margin-top: 20px;
}
.action {
  margin-top: 50px;
}
/* .action */
.btn {
  padding: 10px 35px;
  border: 2px solid #b37b32;
  color: currentColor;
  border-radius: 5px;
}
/* .action */
.btn:hover {
  background-color: #b37b32;
  color: #ffffcc;
}
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 3);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp.line-2 {
  --line-clamp: 2;
}

.break-all {
  word-break: break-all;
}
/* ==============header============= */
.header {
  display: flex;
  justify-content: space-between;
  background-color: #0e0e5e;
  align-items: center;
  
}
.logo {
  width: 120px;
  margin-top: -15px;
  margin-left: 50px;
  filter: brightness(150);
}
ul {
  display: flex;
  margin-right: 15px;
}
.nav a {
  color: #ffffcc;
  font-family: var(--font-heading);
  padding: 10px 15px;
}
.nav a:hover {
  background-color: var(--primary-color);
}
/* ==============hero============= */
.hero {
  margin-top: 50px;
  width: 100vw;
  height: 500px;
  margin-bottom: 50px;
  position: relative;
  overflow: hidden;
}
.hero-list {
  display: flex;
  transition: transform 0.5s ease;
  width: calc(100% * 3);
}
.hero-item {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.hero button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #555;
}
.hero #prev {
  position: absolute;
  left: 50px;
  top: 225px;
}
.hero #next {
  position: absolute;
  right: 50px;
  top: 225px;
}
button i {
  position: absolute;
  transform: translate(-50%, -140%);
  font-size: 20px;
  color: rgb(200, 206, 211);
}
.hero button:hover {
  background-color: rgba(161, 113, 41, 0.7);
  color: rgb(245, 244, 244);
}
/* ==============about us============= */
.about-us .body {
  gap: 50px;
}
.about-us .body {
  margin-top: 45px;
  display: flex;
  padding: 15px 0;
}
.about-us .desc {
  margin-top: 45px;
}
.about-us .about {
  border-radius: 10px;
  width: 500px;
  height: 500px;
  object-fit: cover;
}
/* ==============products============= */
.products .body {
  margin-top: 45px;
  display: flex;
  gap: 20px;
}
.products .mh2 {
  width: 370px;
  height: 450px;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 30px;
}
.products .title2 {
  font-size: 3.5rem;
  font-family: var(--font-heading);
}
.products .item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* ==============shops============= */
.shops .body {
  display: flex;
  gap: 50px;
  margin-top: 60px;
}
.shops .mh3 {
  width: 700px;
  height: 600px;
  object-fit: cover;
  border-radius: 10px;
}
/* ==============feedback============= */
.title.title3 {
  display: flex;
  margin-top: 60px;
  justify-content: center;
}
.feedback {
  background-color: #000044;
}
.feedback-list {
  margin-top: 30px;
  background-color: #000044;
  padding: 30px 0 15px;
  display: flex;
  overflow: hidden;
}
.feedback-item {
  display: flex;
}
.feedback-item .info img {
  width: 200px;
  border-radius: 50%;
}
.info .name {
  font-size: 30px;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  font-family: var(--font-heading);
}
.dots {
  gap: 6px;
  display: flex;
  justify-content: center;
}

.dot {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

.dot.active {
  background: #ce7b28;
  cursor: default;
}

.content {
  width: 60%;
  margin-left: auto;
}
.feedback .body {
  width: 100%;
  flex-shrink: 0;
}
/* ==============footer============= */
footer {
  background-color: #000044;
}
.footer-list {
  display: flex;
  margin-top: 60px;
  gap: 50px;
  padding: 50px 0 30px;
}

footer .logo2 {
  width: 200px;
  filter: brightness(150);
}
footer ul {
  list-style-type: disc;
  padding-left: 40px;
  display: block;
}

footer li {
  display: list-item;
}
.footer-list {
  line-height: 1.5;
}

.footer-list a {
  /* display: inline-flex;
  width: 50px;
  height: 50px; */
  padding: 10px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  color: #fff;
  /* justify-content: center;
  align-items: center; */
}
.footer-list a:hover {
  background-color: #b37b32;
  color: #fff;
}
i {
  margin-top: 20px;
}
.footer-item2 p {
  line-height: 1;
  margin-top: 10px;
}
#footer {
  text-align: center;
}
/* ==============sản phẩm============= */
.container {
  margin-top: 50px;
  display: flex;
  align-items: flex-start;
}

.sidebar {
  width: 20%;
  text-align: center;
  font-size: 2rem;
  line-height: 2;
  position: sticky;
  top: 0px;
  height: fit-content; /* đảm bảo không bị giới hạn */
  background: #fff; /* để không trong suốt nếu có nền */
  z-index: 1; /
}
.content2 {
  flex: 1;
  padding-left: 30px;
  border-left: 1px solid #d17d00;
  /* align-content: center; */
}
.menu-item {
  display: flex;
  flex-direction: column;
}
.content2 .info {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu-item .desc2 {
  font-size: 2rem;
  margin-top: 30px;
}
.menu-item .menu {
  width: 298px;
  height: 300px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.menu-item {
  margin-top: 30px;
  width: 300px;
  border-radius: 15px;
  border: 1px solid #e2dfda;
  background: #fff;
  padding-bottom: 10px;
}
.menu-item:hover {
  border: 1px solid transparent;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}
.menu-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.content2 .title {
  margin-top: 30px;
}
/* ==============liên hệ============= */
.content-ct {
  display: flex;
  align-items: baseline;
  gap: 15px;
}
.title-ct {
  font-size: 3rem;
  font-weight: 600;
  font-style: italic;
  margin-bottom: 20px;
}
.box-ct {
  margin-top: 50px;
  padding: 50px;
  border: 1px solid transparent;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.09);
}
input,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  margin-bottom: 20px;
  border-radius: 4px;
  font-size: 16px;
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc;
}
.btn-ct {
  width: 100%;
  height: 40px;
  font-size: 20px;
  font-family: var(--fon-body);
  border: 2px solid #b37b32;
  color: currentColor;
  border-radius: 25px;
  background-color: #fff;
  margin-top: 20px;
}
.btn-ct:hover {
  background-color: #b37b32;
  color: #ffffcc;
}
/* ==============Về always cafe============= */
.aboutus {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.main-content.au {
  padding: 100px 0;
}
.title.au {
  text-align: center;
  margin-bottom: 50px;
}
.item-au {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 50px 20px;
}
.item-au .text2 {
  width: 45%;
  font-size: 2rem;
  line-height: 1.5;
  color: #202030;
}
.image {
  width: 45%;
}
.pic {
  width: 500px;
  border-radius: 15px;
}
.timeline-line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 2px;
  background-color: #d5a07c;
}
.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border: 4px solid #d5a07c;
  background-color: #fff;
  border-radius: 50%;
}
/* ==============Order============= */
.order {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 12px;
  width: 50px;
  height: 50px;
  background-color: rgba(230, 200, 187, 0.7);
  border-radius: 50%;
  position: fixed;
  right: 30px;
  bottom: 50px;
  /* border: 1px solid #ccc; */
}
.order a {
  color: #dc5d47;
  font-size: 25px;
}
.order a:hover {
  color: #fff;
}
.order:hover {
  background-color: #dc5d47;
}
